{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main>

  <div class='row'>
    <div class='card'>
      <h1 class='text-start mt-5'>Павло Бойчук</h1>
      <h2 class='text-end'>Resume project</h2>
    </div>
  </div>

  <br />
  <br />
  <br />

  <h3>Список сторінок</h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing
    elit. Vel, sequi nostrum a obcaecati maxime,
    consequuntur ullam praesentium aperiam facere optio
    corrupti, aspernatur illum. Accusamus repellendus
    assumenda autem. Enim, aspernatur esse.

  </p>
  <br />
  <br />

  <nav>
    <div class=''>
      <div class=''>
        <a class='btn btn-primary' href='/skills'>Skills</a>

        <br />
        <br />

        <a
          class='btn btn-primary'
          href='/summary'
        >Summary</a>

        <br />
        <br />

        <a
          class='btn btn-primary'
          href='/education'
        >Education</a>

        <br />
        <br />

        <a class='btn btn-primary' href='/work'>Work</a>

        <br />
        <br />

        <a class='btn btn-primary' href='/person'>Person</a>

        <br />
        <br />

        <a class='btn btn-primary' href='/bio'>Bio</a>

        <br />
        <br />

        <a
          class='btn btn-primary'
          href='/program'
        >Program</a>

        <br />
        <br />

        <a class='btn btn-primary' href='/web'>Web</a>

        <br />
        <br />

        <a class='btn btn-primary' href='/js'>JS</a>

        <br />
        <br />

        <a class='btn btn-primary' href='/car'>Car</a>

        <br />
        <br />

        <a class='btn btn-primary' href='/mac'>Mac</a>

        <br />
        <br />

        <a
          class='btn btn-primary'
          href='/facebook'
        >Facebook</a>

        <br />
        <br />

        <a class='btn btn-primary' href='/task21'>Task21</a>

        <br />
        <br />

        <a class='btn btn-primary' href='/task22'>Task22</a>

        <br />
        <br />

        <a class='btn btn-primary' href='/task31'>Task31</a>

        <br />
        <br />

        <a
          class='btn btn-primary'
          href='/shophome'
        >Shophome</a>

        <br />
        <br />

        <a
          class='btn btn-primary'
          href='/shoporder'
        >Shoporder</a>

        <br />
        <br />

        <a
          class='btn btn-primary'
          href='/shopcart'
        >Shopcart</a>

        <br />
        <br />

        <a
          class='btn btn-primary'
          href='/shopreview'
        >Shopreview</a>

        <br />
        <br />

        <a
          class='btn btn-primary'
          href='/shopcatalog'
        >Shopcatalog</a>

        <br />
        <br />

        <a class='btn btn-primary' href='/index'>Index</a>
      </div>
    </div>
  </nav>

</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}